@import "tailwindcss";

html { 
  background-color: rgb(61, 61, 61);
  overflow: hidden;
}

#loading { 
  animation: rotate 1s forwards infinite linear;
}
@keyframes rotate { 
  from { rotate: 0deg;}
  to { rotate: 360deg;}
}